@model List<Microsoft.WindowsAzure.Storage.Blob.CloudBlockBlob>

@{
    ViewBag.Title = "title";
}

<div style="display: flex; flex-direction: row; flex-wrap: wrap">
    @foreach (var b in @Model)
    {
        <div style="margin: 8px; border: 2px solid white">
            <img src="@b.Uri"/>
             <input type="text" value="@b.Uri"/>
        </div>
    }
</div>