@{
    ViewBag.Title = "Home Page";
}

<div>

    <h2>Photos</h2>
</div>
<hr/>

<div class="row">
    <div class="col-md-6">
        <div>
            <a href="/mila-4th-bday">
                <img src="https://timneyphotos.blob.core.windows.net/web/mila4/DSC01029.jpg" width="300" />
                <h4>Mila's 4th Birthday</h4>
                <h5>11th April 2016</h5>
            </a>
        </div>
    </div>
</div>