
@{
    ViewBag.Title = "Random";
}


<div class="row">
    <div class="col-md-6">
        <h2>Random</h2>
        <h4><span class="glyphicon glyphicon-map-marker"></span> Wada</h4>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <h5>June 2015</h5>
        </div>
    </div>
    <hr/>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="https://dl.dropboxusercontent.com/u/39199978/events_screen.png" style="width:100%" />
    </div>
    <div class="col-md-6">
        <img src="https://dl.dropboxusercontent.com/u/39199978/events_screen.png" style="width:100%" />
    </div>
</div>


